---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>Blog</h1>
    <p>
        Get the inside scoop on how to take your game to the next level. Uncover
        the secrets to success with expert advice, inspiring athlete success
        stories, recruitment strategies, training insights, and the latest
        trends in the sports industry. Whether you're an emerging talent or a
        seasoned pro, our blog is the compass that guides you toward athletic
        greatness. Your journey to success begins right here.
    </p>
    <button>Filter</button>
    <button>Sort By</button>
    <article>
        <h3>5 Tips to Improve Your Chances for Recruitment</h3>
        <p>
            Example text showing a snippet of the first sentence from the
            article...
        </p>
        <p>Oct 13, 2023</p>
    </article>
</BaseLayout>
