{{ define "main" }}
  <main class="w-full bg-black">
    {{ partial "prelude" (dict
      "context" .
      "Header" "Blog"
      "Subtitle" "Get the inside scoop on how to take your game to the next level. Uncover the secrets to success with expert advice, inspiring athlete success stories, recruitment strategies, training insights, and the latest trends in the sports industry. Whether you're an emerging talent or a seasoned pro, our blog is the compass that guides you toward athletic greatness. Your journey to success begins right here.")
    }}
    <section class="mx-auto max-w-[75%]">
      <div class="flex gap-4">
        <button
          class="rounded-lg border-4 border-solid border-white px-5 py-2 hover:border-stone-300 hover:text-stone-300"
          aria-expanded="true"
          aria-haspopup="true"
        >
          Filter
        </button>
        <button
          class="rounded-lg border-4 border-solid border-white px-5 py-2 hover:border-stone-300 hover:text-stone-300"
          aria-expanded="true"
          aria-haspopup="true"
        >
          Sort By
        </button>
      </div>
      <ul class="mt-10 flex flex-wrap justify-center gap-5">
        {{ range .Pages }}
          <li>
            {{ partial "gallery-item" (dict "page" . "dark" true) }}
          </li>
        {{ end }}
      </ul>
    </section>
  </main>
{{ end }}
