{{ define "main" }}
  <main>
    {{ partial "prelude" (dict
      "context" .
      "Header" "Blog"
      "Subtitle" "Get the inside scoop on how to take your game to the next level. Uncover the secrets to success with expert advice, inspiring athlete success stories, recruitment strategies, training insights, and the latest trends in the sports industry. Whether you're an emerging talent or a seasoned pro, our blog is the compass that guides you toward athletic greatness. Your journey to success begins right here.")
    }}
    <section class="mt-10">
      <div class="flex gap-4">
        <button class="rounded-lg border-4 border-solid border-white px-5 py-2">
          Filter
        </button>
        <button class="rounded-lg border-4 border-solid border-white px-5 py-2">
          Sort By
        </button>
      </div>
      <ul class="mt-10 flex flex-wrap gap-5">
        {{ range .Pages }}
          <li>
            <div
              class="max-w-[360px] basis-1/3 overflow-hidden rounded-lg bg-stone-900"
            >
              {{ with .Resources.GetMatch "cover.*" }}
                <img
                  src="{{ .RelPermalink }}"
                  width="{{ .Width }}"
                  height="{{ .Height }}"
                  alt=""
                />
              {{ end }}
              <div class="px-5 py-3">
                <h3 class="mt-[0.5rem] text-2xl font-bold">{{ .Title }}</h3>
                <p class="mt-5 text-stone-500">
                  {{ .Content | truncate 80 | plainify }}
                </p>
                <p class="mt-10 text-right text-xs font-bold text-stone-500">
                  {{ .Date | time.Format "Jan 2, 2006" }}
                </p>
              </div>
            </div>
          </li>
        {{ end }}
      </ul>
    </section>
  </main>
{{ end }}
