{{ define "main" }}
  <main class="bg-white">
    <article class="mx-auto w-[75%] py-28 text-black">
      {{ with .Resources.GetMatch "cover.*" }}
        <img
          class="h-full w-full overflow-hidden rounded-lg object-cover"
          src="{{ .RelPermalink }}"
          width="{{ .Width }}"
          height="{{ .Height }}"
          alt=""
        />
      {{ end }}
      <h1 class="my-10 text-5xl font-bold text-black">{{ .Title }}</h1>
      <p class="text-1xl my-16 font-bold">
        {{ .Date | time.Format "Jan 2, 2006" }}
      </p>
      <div class="leading-relaxed">
        {{ .Content }}
      </div>

      <section class="mt-20">
        <h2>Related Posts:</h2>
        <ul class="mt-10 flex justify-between gap-5">
          {{ $currentPage := . }}
          {{ $count := 0 }}
          {{ range first 4 (where .Site.RegularPages "Section" "blog") }}
            {{ if ne .Permalink $currentPage.Permalink }}
              {{ $count = add $count 1 }}
              <li>
                {{ partial "gallery-item" (dict "page" . "dark" false) }}
              </li>
            {{ end }}
            {{ if ge $count 3 }}
              {{ break }}
            {{ end }}
          {{ end }}
        </ul>
      </section>
    </article>
    {{ partial "interest-list" . }}
  </main>
{{ end }}
