<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{ .Title }}</title>
  {{ with .Site.Params.description }}
    <meta name="description" content="{{ . }}" />
  {{ end }}
  {{ with .Site.Params.author }}
    <meta name="author" content="{{ . }}" />
  {{ end }}
  {{ $style := resources.Get "css/style.css" }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <!-- Font -->
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap"
    rel="stylesheet"
  />
</head>
