{{ $backgroundColor := "bg-stone-200" }}
{{ $textColor1 := "text-black" }}
{{ $textColor2 := "text-black" }}

{{ if .dark }}
  {{ $backgroundColor = "bg-stone-800" }}
  {{ $textColor1 = "text-white" }}
  {{ $textColor2 = "text-stone-400" }}
{{ end }}


<div
  class="{{ $backgroundColor }} flex max-w-sm flex-col items-center rounded-lg px-5 py-16"
>
  <i class="fa-solid {{ .IconClass }} text-8xl text-green-400"></i>
  <h3 class="{{ $textColor1 }} text-center">{{ .Title }}</h3>
  <p class="{{ $textColor2 }} text-center">
    {{ .Subtitle }}
  </p>
</div>
