<section class="bg-[#1BD760] p-10">
  <h2 class="text-center text-black">Get Notified When We Launch Our MVP</h2>
  <form class="mx-auto flex max-w-[500px] flex-col justify-center gap-5">
    <div class="flex w-full justify-center gap-10">
      <div class="flex basis-1/2 flex-col">
        <label class="text-xl text-black" for="fname">First Name </label>
        <input
          class="rounded p-2 text-black outline outline-1 outline-black"
          type="text"
          required
          id="fname"
        />
      </div>
      <div class="flex basis-1/2 flex-col">
        <label class="text-xl text-black" for="lname">Last Name </label>
        <input
          class="rounded p-2 text-black outline outline-1 outline-black"
          type="text"
          required
          id="lname"
        />
      </div>
    </div>
    <div class="flex flex-col">
      <label class="text-xl text-black" for="lname">Email</label>
      <input
        class="rounded p-2 text-black outline outline-1 outline-black"
        type="text"
        required
        id="email"
      />
    </div>
    <fieldset>
      <legend class="text-xl text-black">I am a:</legend>
      <div class="flex gap-5">
        <div class="w-[50%]">
          <input
            class="peer appearance-none"
            type="radio"
            required
            id="athlete"
            name="type"
          />
          <label
            class="inline-block w-full rounded py-2 text-center text-black outline outline-2 outline-black peer-checked:bg-white peer-checked:text-black"
            for="athlete"
            >Athlete</label
          >
        </div>
        <div class="w-[50%]">
          <input
            class="peer appearance-none"
            type="radio"
            required
            id="recruiter"
            name="type"
          />
          <label
            class="inline-block w-full rounded py-2 text-center text-black outline outline-2 outline-black peer-checked:bg-white peer-checked:text-black"
            for="recruiter"
            >Recruiter</label
          >
        </div>
      </div>
    </fieldset>

    <button class="mt-2 rounded bg-black py-2 text-white">Submit</button>
  </form>
</section>
