{{ define "main" }}
  <main>
    <section class="flex justify-center bg-black ">
      <div>
        <h1 class="leading-normal">
          Share Highlights.
          <br />
          Get Noticed.
        </h1>
        <p class="w-[400px] text-stone-400">
          Ready to take your sports career to the next level? Join the community
          of young athletes who are using Field to achieve their dreams!
        </p>
        <a
          href="/"
          class="mt-10 inline-block rounded-md bg-green-500 px-8 py-3 text-black"
        >
          Request Beta Access
        </a>
      </div>
      {{ with resources.Get "/images/football-player.png"}}
      <figure class="image">
        <img
          alt="An athelete holding a American football"
          src="{{ .RelPermalink }}"
        />
      {{end}}
      </figure>
    </section>
    <section
      class="fluid flex flex-col justify-center bg-white p-3 pb-24 text-black"
    >
      <h2 class="text-center">Unleash Your Athletic Potential</h2>
      <p class="mx-auto w-1/2 text-center">
        Field is not just a platform; it's your key to a world of opportunities.
        Connect with recruiters, gain fans, and take your athletic journey to
        the next level. Showcase your skills and build your brand on Field,
        where your athletic dreams become reality.
      </p>
      <div class="mt-24 flex justify-center gap-16">
        {{ partial "hero-card.html"
          (dict "Title" "Connect with Recruiters"
          "Subtitle" "Showcase your athletic talents and connect directly with recruiters and scouts looking for the next big sports stars."
          "IconClass" "fa-binoculars")
        }}
        {{ partial "hero-card.html"
          (dict "Title" "Build Your Brand"
          "Subtitle" "Create engaging content, share your journey, and gain a loyal following of fans, friends, and mentors."
          "IconClass" "fa-bullhorn")
        }}
        {{ partial "hero-card.html"
          (dict "Title" "It's 100% Free"
          "Subtitle" "Field is committed to helping young athletes succeed regardless of race, gender, or economic status, and that's why it's completely free for athletes."
          "IconClass" "fa-heart")
        }}
      </div>
    </section>
    <section class="fluid bg-white">
      <div class="pt-6 text-black flex  mx-auto justify-around">
        <div>
          <h2>Unmatched User Interface<br />for Athelete Profiles</h2>
          <div class="flex max-w-lg flex-col gap-10">
            <p>
              <strong>Effortless Data Entry: </strong> Update your athletic
              statistics, achievements, and personal information with ease. Our
              streamlined interface ensures that you spend less time on data entry
              and more time pursuing your passion.
            </p>
            <p>
              <strong>Customizable Profile: </strong>Your profile is entirely yours.
              Tailor it to reflect your unique journey, highlighting what matters
              most to you and potential recruiters. Upload photos, videos, and posts
              that showcase your skills and personality.
            </p>
            <p>
              <strong>Performance Metrics: </strong> Input essential metrics like
              personal bests, scores, rankings, and more. Our platform allows you to
              present your athletic accomplishments clearly and comprehensively.
            </p>
    
          </div>
        </div>
        {{ with resources.Get "/images/demo.png"}}
        <figure class="image">
          <img
            alt="An athelete holding a American football"
            src="{{ .RelPermalink }}"
          />
        {{end}}
        </div>
    </section>
    <section class="bg-black">
      <h2 class="text-center max-w-xl mx-auto">Empowering Recruiters to Discover Talent</h2>
      <p class="text-center max-w-4xl mx-auto text-stone-400">Field isn't just a game-changer for athletes; it's an essential tool for recruiters and scouts seeking the next generation of sports stars. We've designed Field with powerful features to simplify your talent search and connect you with promising athletes.</p>
      <div class="flex gap-10 justify-center mt-24">
      {{ partial "hero-card.html"
          (dict "Title" "Streamlined Talent Discovery"
          "Subtitle" "Field offers a comprehensive platform to discover talent from a wide range of sports. Our search and filter tools allow recruiters to pinpoint athletes who match their specific criteria quickly."
          "IconClass" "fa-filter"
          "dark" true
          )
        }}
        {{ partial "hero-card.html"
          (dict "Title" "In-Depth Athlete Profiles"
          "Subtitle" "Our athlete profiles offer a detailed view of each prospect's skills, achievements, and athletic journey. It's all presented in a clear and organized format, making it easy to evaluate potential recruits."
          "IconClass" "fa-address-card"
          "dark" true
          )
        }}
        {{ partial "hero-card.html"
          (dict "Title" "Efficient Communication"
          "Subtitle" "Field streamlines communication, allowing you to send messages, share information, and schedule evaluations effortlessly. Say goodbye to inefficient and time-consuming processes."
          "IconClass" "fa-comments"
          "dark" true
          )
        }}
      </div>
    </section>
    <section class="bg-black flex gap-10 pt-32 pb-32">
      <div class="basis-1/2">
        <h2 class="max-w-lg">Current Recruitment Process is Outdated</h2>
        <p class="text-stone-400 max-w-4xl">Traditionally, recruitment has been plagued by intermediaries, limited visibility, and inefficient communication. Field is disrupting the status quo with a streamlined and transparent approach. Direct connections between athletes and recruiters, a diverse talent pool, all-in-one hub for recruitment, data-driven decision-making, and brand visibility are revolutionizing the industry. Field is ushering in a new era where efficiency and direct connections are paramount.</p>
        <h3>Here’s what coaches have to say:</h3>
      </div>
      <div class="bg-stone-800 p-3 rounded-lg flex flex-col justify-around gap-10 basis-1/2">
        <blockquote class="font-bold text-lg before:content-['\f10d'] before:font-['FontAwesome'] 
                          before:font-black before:block before:text-6xl before:text-green-400 
                          after:content-['\f10e'] after:block after:font-['FontAwesome'] after:font-black  after:text-end after:text-6xl after:text-green-400">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec erat tortor, lacinia non vehicula nec, luctus id ligula. Quisque eget massa eu sapien eleifend fringilla. Sed ornare diam at neque egestas posuere.
        </blockquote>
        <div class="flex justify-around items-center">
        <cite class="text-lg">
          ― Coach Boehiem, Former Syracuse Mens Basketball Coach
        </cite>
        {{ with resources.Get "/images/syracuse-orange.png"}}
        <figure class="image">
          <img
            src="{{ .RelPermalink }}"
          />
        {{end}}
        </div>
        <div class="flex gap-5 justify-center">
          <div class="bg-green-400 rounded-full w-[10px] h-[10px]"></div>
          <div class="bg-stone-400 rounded-full w-[10px] h-[10px]"></div>
          <div class="bg-stone-400 rounded-full w-[10px] h-[10px]"></div>
          <div class="bg-stone-400 rounded-full w-[10px] h-[10px]"></div>
          <div class="bg-stone-400 rounded-full w-[10px] h-[10px]"></div>
        </div>
      </div>
    </section>
    <section class="flex fluid">
      <div class="bg-white text-black p-16 basis-1/2">
        <h2>Explore Our Blog Page</h2>
        <p>Looking to unravel the secrets of successful athletic recruitment and get expert insights on how to stand out in your sports journey? Our blog is your ultimate resource for all things related to sports recruitment, athlete success stories, training tips, and much more. If you're eager to learn more about how to make your mark in the sports world and achieve your goals, our blog is a must-visit.</p>
        <a
          href="/"
          class="mt-10 inline-block rounded-md bg-green-500 px-8 py-3 text-black"
        >
          Visit Blog
        </a>
      </div>
      <div class="basis-1/2">
        {{ partial "interest-list.html" }}
      </div>
      
    </section>
    {{ partial "carousel.html" }}
  </main>
{{ end }}
