---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout>
    <h1>FAQ</h1>
    <p>
        Welcome to Field's FAQs page! Below, you'll find answers to common
        questions about our sports-focused social media platform. If you have
        any additional inquiries or require further assistance, feel free to
        contact us directly.
    </p>
    <ul>
        <li>What is Field, and how does it work?</li>
    </ul>
    <h2>Still Have Questions?</h2>
    <p>
        If you have any questions that aren't covered here, don't hesitate to
        email us directly at contact@thefieldapp.com. Our team is always ready
        to assist you with any inquiries or concerns.
    </p>
</BaseLayout>
